.nav-bar {
  background-color: rgb(109, 3, 109);
  color: white;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar > button {
  padding: 10px;
  border: none;
  font-weight: bold;
}
